* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}
.header {
  background-color: #707070;

}
.header h1 {
  display: inline-block;
  text-indent: 60px;
  background-color: #469b4a;
  padding-right: 10px;
  color: darkgrey;
}

.header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.header a {
  color: #469b4a;
}

.header nav {
  float: right;
}

ul {
  list-style-type: none;
}

.hero-banner {
    background-image: url(/assets/images/02-hero-bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.hero-banner h2 {
  background-color: #469b4a;
  display: inline;
  position: relative;
  top: 150px;
  left: 1075px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  float: right;
  
  /* border: 2px solid red; */
}

.page-wrapper .about{
  height: 200px;
}


.nest-1 {
  display: flex;
  background-image: url(/assets/images/02-portfolio-4.jpg);
  height: 600pxgit;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  padding: 50px;
}

.nest-2 {
  display: flex;
  background-image: url(/assets/images/02-portfolio-1.jpg);
  height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
  float: left;
  margin-bottom: 20px;
  padding: 50px;
  
}

 .nest-3 {
  display: flex;
  background-image: url(/assets/images/02-portfolio-2.jpg);
  height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  padding: 50px;
}

.nest-4 {
  display: flex;
  background-image: url(/assets/images/02-portfolio-1.jpg);
  height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
  float: left;
  
}

.nest-5 {
  display: flex;
  background-image: url(/assets/images/02-run-buddy.jpg);
  height: 200px;
  width: 50%;
  background-size: cover;
  background-position: center;
}
p {
  margin: 15px;
}

.nest-1, .nest-2, .nest-3, .nest-4, .nest-5 {
    border: 2px solid red;
}


aside {
  float: left;
  height: 100%;
}

.aside-about {
  height: 200px;
  font-size: 40px;
  border-right: #469b4a 10px;
}
