* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}
.header {
  background-color: #707070;

}
.header h1 {
  display: inline-block;
  text-indent: 60px;
  background-color: #469b4a;
  padding-right: 10px;
  color: darkgrey;
}

.header ul li {
  display: inline-block;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 20px;
}

.header a {
  color: #469b4a;
}

.header nav {
  float: right;
}

ul {
  list-style-type: none;
}

.hero-banner {
    background-image: url(/assets/images/02-hero-bg.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.hero-banner h2 {
  background-color: #469b4a;
  display: inline;
  position: relative;
  top: 150px;
  left: 1075px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

